---
interface Props {
  id: string;
  title?: string;
  caption?: string; 
}

const { id, title = "Vimeo Video", caption } = Astro.props;
---

<div class="vimeo-embed">
  <div class="video-container">
    <iframe
      src={`https://player.vimeo.com/video/${id}?title=0&byline=0&portrait=0`}
      width="100%"
      height="100%"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
      title={title}
      loading="lazy"
    ></iframe>
  </div>
  {caption && <figcaption>{caption}</figcaption>}
</div>

<style>
  .vimeo-embed {
    margin: 2rem 0;
  }

  .video-container {
    position: relative;
    width: 100%;
    /* 16:9 Aspect Ratio */
    padding-bottom: 56.25%; 
    background: #000;
    border-radius: 8px;
    overflow: hidden;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    font-style: italic;
  }
</style>
